<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for("static", filename="styles.css")}}">
    <link rel="stylesheet" href="{{url_for("static", filename="pages.css")}}">
    <script ref="main.js"></script>
    <title>Upcoming Splits</title>
</head>
<body>
    <div class="upcoming-splits">
        <p class="page-header">Upcoming RS</p>
        {{table | safe}}
    </div>
</body>
</html>